.caption {
  color: #777;
  margin-top: 10px;
}

p code {
  white-space: pre-wrap;
}

pre {
  word-break: normal;
  word-wrap: normal;
}

plot {
  background-color: #000000;
}

pre code {
  white-space: pre-wrap;
}

.showopt {
  background-color: #004c93;
  color: #FFFFFF;
  width: 104px;
  height: 24px;
  text-align: center;
  vertical-align: middle;
  float: right;
  border: 3px solid #d9edf7;
  border-radius: 2px;
  font-size: 13px;
}

.showopt:hover {
  background-color: #d9edf7;
  color: #004c93;
}

.book .book-summary {
  width: 330px;
  position:absolute;
  top:0;
  left:-330px;
}

.book.with-summary .book-header.fixed {
    left: 330px;
}

.book.with-summary .book-body {
    left: 330px;
}

.book .book-body .page-wrapper .page-inner section.normal code {
    font-family: Consolas, Menlo, Courier, monospace;
}

/* Place thin blue border around code blocks & increase font size from 85% to 105% */
.book .book-body .page-wrapper .page-inner section.normal .highlight pre, .book .book-body .page-wrapper .page-inner section.normal pre {
    background-color: #eeeeee;
    border: 3px solid #d9edf7;
    border-radius: 2px;
    font-size: 105%;
    line-height: 1.2;
    overflow: auto;
    padding: 8px;
}

.cell-output {
  background-color: lightblue;
  border-radius: 4px;
  overflow-x: auto;
  overflow-y: hidden;
}

.sidebar-logo {
  max-height: 100px;
}